Augmented_Dataset
braingazer_py
logs
Brain_Tumor_Detection_Models/cnn-parameters-improvement-01-0.54.model
Brain_Tumor_Detection_Models/cnn-parameters-improvement-01-0.70.model
Brain_Tumor_Detection_Models/cnn-parameters-improvement-01-0.83.model
Brain_Tumor_Detection_Models/cnn-parameters-improvement-01-0.90.model
Brain_Tumor_Detection_Models/cnn-parameters-improvement-02-0.70.model
Brain_Tumor_Detection_Models/cnn-parameters-improvement-01-0.75.model
Brain_Tumor_Detection_Models/cnn-parameters-improvement-02-0.81.model
Brain_Tumor_Detection_Models/cnn-parameters-improvement-02-0.82.model
Brain_Tumor_Detection_Models/cnn-parameters-improvement-02-0.89.model
Brain_Tumor_Detection_Models/cnn-parameters-improvement-03-0.76.model
Brain_Tumor_Detection_Models/cnn-parameters-improvement-03-0.80.model
Brain_Tumor_Detection_Models/cnn-parameters-improvement-03-0.84.model
Brain_Tumor_Detection_Models/cnn-parameters-improvement-04-0.72.model
Brain_Tumor_Detection_Models/cnn-parameters-improvement-04-0.78.model
Brain_Tumor_Detection_Models/cnn-parameters-improvement-05-0.83.model
Brain_Tumor_Detection_Models/cnn-parameters-improvement-06-0.83.model
Brain_Tumor_Detection_Models/cnn-parameters-improvement-07-0.75.model
Brain_Tumor_Detection_Models/cnn-parameters-improvement-08-0.85.model
Brain_Tumor_Detection_Models/cnn-parameters-improvement-09-0.73.model
Brain_Tumor_Detection_Models/cnn-parameters-improvement-10-0.79.model